defaults: &defaults
  working_directory: ~/indesy-server
  docker:
    - image: circleci/node:7.10
version: 2
jobs:
  reset:
    <<: *defaults
      -run:
          name: "Reset Repository"
          command: ssh -p 61000 -o StrictHostKeyChecking=no root@${SERVER_IP} 'cd /opt/indesy-server && git reset --hard'
  clean:
    <<: *defaults
    steps:
      - run:
          name: "Clean Repository"
          command: ssh -p 61000 -o StrictHostKeyChecking=no root@${SERVER_IP} 'cd /opt/indesy-server && git clean -nfd'
  pull:
    <<: *defaults
    steps:
      - run:
          name: "Pull Repository"
          command: ssh -p 61000 -o StrictHostKeyChecking=no root@${SERVER_IP} 'cd /opt/indesy-server && git pull'
  purge:
    <<: *defaults
    steps:
      - run:
          name: "Purge Dependencies"
          command: ssh -p 61000 -o StrictHostKeyChecking=no root@${SERVER_IP} 'rm -rf /opt/indesy-server/node_modules ||:'
  install:
    <<: *defaults
    steps:
      - run:
          name: "Install Dependencies"
          command: ssh -p 61000 -o StrictHostKeyChecking=no root@${SERVER_IP} 'cd /opt/indesy-server && npm install'
  reload:
    <<: *defaults
    steps:
      - run:
          name: "Reload Deployment"
          command: ssh -p 61000 -o StrictHostKeyChecking=no root@${SERVER_IP} 'pm2 reload all'
workflows:
  version: 2
  deploy:
    jobs:
      - reset:
          filters:
            branches:
              only: master
      - clean:
          filters:
            branches:
              only: master
      - pull:
          requires:
            - reset
            - clean
      - purge:
          requires:
            - reset
            - clean
      - install:
          requires:
            - pull
            - purge
      - reload:
          requires:
            - install